.cards__list {
    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.container__desktop {}

.cards__container {
    color: white;
    background-color: var(--color-grey-5);
}


.cards__title {
    color: var(--color-grey-1);
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: var(--title-6);
}

.card {
    display: flex;
    flex-direction: column;

    gap: 1.2rem;

    background-color: var(--color-grey-6);
    padding: 2rem;

    border-radius: var(--radius-default);

    position: relative;
}

.card__title {
    color: var(--color-grey-1);
    font-weight: bold;
    font-size: var(--title-6);

    line-height: 150%;
}

.card__company,
.card__city {
    color: var(--color-grey-2);
    font-size: 11px;
}

.card__description {
    color: var(--color-grey-2);
    font-size: 12px;

    line-height: 200%;

}

.info__container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.card__modality {
    background-color: var(--color-grey-3);

    color: var(--color-grey-2);
    font-size: 10px;

    padding: 8px;

    width: 90px;

    text-align: center;

    border-radius: var(--radius-default);

}

.card__button {
    background-color: var(--color-brand-1);


    width: 220px;
    height: 25px;

    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    color: var(--color-grey-6);
    letter-spacing: .5px;

    border: none;
    border-radius: var(--radius-default);

    font-family: "Poppins", sans-serif;
}

@media (min-width: 769px) {

    .container {

        padding-left: 2rem;
        padding-right: 2rem;


    }

    .container__desktop {
        display: flex;

        width: 100%;

        justify-content: space-between;
    }

    .cards__container {
        width: 40%;

    }

    .cards__list {
        width: 100%;
        align-self: flex-start;
        margin: 0;
    }


    .card {
        width: 100%;
        padding: 1.2rem;
    }

    .card__title {
        font-size: 13px;
    }

    .card__company,
    .card__city {
        font-size: 9px;
    }

    .card__description {
        font-size: 10px;
        line-height: 200%;
    }

    .card__modality {
        width: 70px;
        padding: 6px;

        font-size: 8px;

    }

    .card__button {


        width: 90px;
        height: 20px;

        padding: 12px;

        position: absolute;

        right: 35px;
        bottom: 18px;

        font-size: 10px;

    }
}